.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(37, 37, 37);
    color: whitesmoke;
    width: 100%;
    border-bottom: 1px solid rgb(214, 200, 200);
    position: fixed;
    top: 0;
    height: 50px;
    z-index: 100;
}

.list_elements{
    display: flex;
}

.left_section{
    display: flex;
    justify-content: space-between;
}

.list_elements li{
    margin-left: 15px;
}

.profile{
    width: 40px;
    border-radius: 20px;
    margin-right: 24px;
}

.profile_pic{
    width: 40px;
    border-radius: 20px;
}

.second_header_container{
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(37, 37, 37);
    color: whitesmoke;
    width: 100%;
    position: fixed;
    z-index: 200;
}

.header_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    height: 10px;
    padding: 0;
    text-wrap: nowrap;
    width: 100%;
    padding-left: 15px;
}

.header_list li{
    margin-left: 10px;
    cursor: pointer;
}

.right_arrow,
.left_arrow
{
    /* width: 20px; */
    height: 27px;
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
    border: none;
    position: absolute;
}

.right_arrow{
    right: 0;
}

.left_arrow{
    left: 0;
}

@media(min-width:1020px){
    .header_list{
        display: flex;
        justify-content: stretch;
    }
}